<div class="row align-items-center h-100 p-4">
  <div class="col-lg-4 col-md-6 text-center mx-auto mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated pulse"
          data-wow-delay=".5s" data-wow-duration="2s" data-wow-iteration="infinite">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.aboutme }}</p>
  </div>
</div>