<div class="row">
  <div class="col-md-9">
    <div class="card-columns mt-2 mt-5">

      {% assign pages = include.id | sort: 'weight' %}

      {% for resource in pages %}
      {% comment %} Determine resource link {% endcomment %}
      {% if resource.direct_link %}
      {% assign resource_link = resource.direct_link %}
      {% else %}
      {% assign resource_link = resource.url | relative_url %}
      {% endif %}

      <div class="wow animated fadeIn" data-wow-delay=".15s">
        <a href="{{ resource_link }}" class="resource card text-dark">
          {% if resource.image %}
          <img class="card-img-top" src="{{ resource.image }}" alt="Card image cap">
          {% endif %}
          <div class="card-body">
            <div class="card-title">{{ resource.title }}</div>
            {% if resource.deprecated == true %}
            <div class="ribbon blue"><span>Deprecated</span></div>
            {% endif %}
            <p class="card-text">{{ resource.description }}</p>
            <p class="card-text">
              {% for tag in resource.tags %}
              <span class="badge badge-pill text-primary border border-primary">{{tag}}</span>
              {% endfor %}
            </p>
          </div>
          <div class="card-footer {{ text_style }}">
            <div class="row">
              <div class="col-sm-8">{{ resource.date | date_to_long_string }}</div>
              <div class="col-sm card-footer-category">{{ resource.category }}</div>
            </div>
          </div>
        </a>
      </div>

      {% endfor %}

    </div>

  </div>
  <div class="col-md-3 mt-5">
    {% include rightside.html %}
  </div>
</div>