<div class="row">
    <div class="col-md-5 comment">
        <h2>Commentaire</h2>
        <p>Vous pouvez laisser un commentaire en répondant à ce Tweet.</p>
    </div>

    <div class="col-md-7">
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="fr" data-width="100%" data-link-color="#4caf50">
            <a href="https://twitter.com/flamisz/status/{{ page.twitter }}"></a>
        </blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>